#version=RHEL8
# Use graphical install
graphical


%packages
@^minimal-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --bootproto=dhcp --device=enp0s8 --onboot=off --ipv6=auto --activate
network  --hostname=localhost.localdomain

url --url="http://82.209.230.71/pub/CentOS/8.4.2105/BaseOS/x86_64/os/"

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda
autopart
# Partition clearing information
clearpart --all --initlabel

# System timezone
timezone America/New_York --isUtc

#Root password
rootpw --lock
user --groups=wheel --name=vagrant --password=$6$/cSIfFcabmK3w2yk$h.JSOVkMY7fZUvkjIFhNTXozXxut/uSqm2hxaSGVhabJe7EHg.GxdANwjPXSxKA9MQkSqQ2IZBhf.H8XMk8rD. --iscrypted --gecos="vagrant"

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# Reboot when the install is finished.
reboot